<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="nav">
      <ul>
        <div id="nav_elements">
          <li id="profile_image">Profile Image</li>
          <li id="nav_route"><%= link_to @user.first_name, user_path(@user) %></li>
          <li id="nav_route"><%= link_to "Build Menu", new_menu_path %></li>
          <li id="nav_route"><%= link_to "Recipes", recipes_path %></li>
          <li id="nav_route"><%= link_to "People", users_path%></li>
          <li id="nav_route"><%= link_to "Log Out", logout_path, method: :delete %></li>
        </div>
      </ul>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="build_menu_content">
                <h1>Welcome <%= @user.first_name %> to your Menu Builder</h1>
                <%= form_for @menu, controller: 'menus', action: 'create' do |f| %>
                <h2>Monday</h2>
                <h3>Breakfast</h3>
                Select A Recipe: <%= select_tag :recipe, options_from_collection_for_select(@recipes, :id, :name) %>
                Anyone Joining? <%= select_tag :user, options_from_collection_for_select(@users, :id, :first_name) %>
                <h3>Lunch</h3>
                Select A Recipe: <%= select_tag :recipe, options_from_collection_for_select(@recipes, :id, :name) %>
                Anyone Joining? <%= select_tag :user, options_from_collection_for_select(@users, :id, :first_name) %>
                <h3>Dinner</h3>
                Select A Recipe: <%= select_tag :recipe, options_from_collection_for_select(@recipes, :id, :name) %>
                Anyone Joining? <%= select_tag :user, options_from_collection_for_select(@users, :id, :first_name) %>
                <br></br>
                <%= f.submit "Create Menu" %>
                <% end %>
    </div>
  </div>
</div>
